{% extends 'base.html' %}

{% load static %}

{% block content %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> You only live once, but if you do it right, once is enough</h1>
<!--            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>-->
            <span class="meta">Posted by
              <a href="#">— Mae West.</a>
              </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
<div class="container">
<!--  <form action="{% url 'post_add' %}" method="post" class="form-inline">-->
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <h2>Add a new blog</h2>-->

<!--                {% csrf_token %}-->
<!--                <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="type here...">-->
<!--          <br>-->
<!--          <br>-->
<!--          <div class="row">-->
<!--            <div class="col-md-12">-->
<!--             <textarea name="desp" class="form-control" aria-label="With textarea"></textarea>-->
<!--          </div>-->
<!--          </div>-->
<!--          <br>-->
<!--                <button type="submit" class="btn btn-primary mb-2">submit</button>-->

<!--        </div>-->

<!--&lt;!&ndash;        <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="input-group-prepend">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="input-group-text">With textarea</span>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <textarea class="form-control" aria-label="With textarea"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--    </div>-->
<!--  </form>-->

  <form action="{% url 'post_add' %}" method="post">
    <h2 id="rex">Add a new blog</h2>

         {% csrf_token %}

      <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" name="content" class="form-control" id="exampleFormControlInput1" placeholder="Type here...">
      </div>
      <div class="form-group">
          <label for="exampleFormControlTextarea1">Content</label>
          <textarea class="form-control" name="desp" id="exampleFormControlTextarea1" placeholder="Enter your blog here" rows="3"></textarea>
      </div>
        <button type="submit" class="btn btn-primary mb-2">submit</button>
</form>


  </div>


  <hr>



{% endblock content %}